.page{
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.head {
    background: #fc0;
    height: 100px;
    position: relative;
    width: 100px;
    border-radius: 50%;
  }
  .face {
    font-family: 'courier new', serif;
    font-size: 2.5em;
    font-weight: bold;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -60%) rotate(90deg);
  }