* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif
}

li {
    list-style-type: none;
    display: inline-block;
    margin-right: 12px;
}

.link1 {
    position: relative;
    display: inline-block;
    border: 1px solid black;
}
.link-text-1 {
    visibility: hidden;
    width: 400px;
    height: 200px;
    background-color: black;
    color: white;
    text-align: center;
    position: absolute;
    z-index: 1;
}
.link-1:hover .link-text-1 {
    visibility: visible;
}
.link-text-2 {
    visibility: hidden;
    width: 400px;
    height: 200px;
}
.link-text-3 {
    visibility: hidden;
    width: 400px;
    height: 200px;
}