.view {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../asset/image/mar.jpg");
    background-size: cover;
}

@keyframes intro {
    from {
        margin-top: -1200px;
    }

    to {
        margin-top: 0;
    }
}

.titulo {
    border: 2px solid purple;
    width: 80%;
    height: 200px;
    padding: 10px;
    font-size: 50px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: purple;
    animation: intro 4s 1;
}
