

.article__container {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 200px;
}

.article__title {
    font-weight: bold;
    font-size: 32px;
}

.article__text {
    font-size: 18px;
    line-height: 24px;
}

.cookies__alert {
      margin: 0;
      line-height: 100px;
      background-color: yellow; 
      position: fixed;
      bottom: 35px;
}

.cookies__alert-text {
    height: 100px;
    width: 100vw;
    text-align: center;
    font-style: italic;

}








